:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* dung chung */
  --primary-color: #16a1ee;
  --background-primary: #171717;
  --border-color: #494949;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--background-primary);
}
::-webkit-scrollbar {
  width: 10px;
  background-color: var(--background-primary);
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: #fff;
}

body {
  background: linear-gradient(92deg, var(--background-primary), #0f0f0f, #000f1d, var(--background-primary));
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  margin-bottom: 0 !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
  a:hover {
    color: #747bff;
  }
}
